* {
  box-sizing: border-box;
}
body {
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  background: white;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,255,1);  */
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
  background: black;
}
